*{
    margin: 0 auto;
    }

body{
    background-image: url(images/background-world-map-1.gif);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: justify;
}

/*header*/
.nav-container{
    height: 150px;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;   
}

.nav-content a{
    text-decoration: none;
    color: black;
}

.nav-content a:hover{
    color: rgb(86, 121, 17);
    cursor: pointer; 
}

strong{
    color: yellowgreen;
}

hr{
    border: 2px solid yellowgreen;
}
/*header*/

/*body*/
.container{
    margin-left: 250px;
    margin-right: 250px;}

h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

p{
    color: rgb(31, 151, 151);
}
/*body*/

/*footer*/
.footer-container{
    height: 200px;
    background-color: rgb(3, 3, 83);
    color:rgb(82, 224, 210);
    font-size: smaller;
}

.up-footer{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.social-network{
    display: flex;
    align-items: center;
    margin-left: 500px;
  
}

.social{
   display: flex;
   align-items: center;
   margin-right: 500px;
  
}
/*footer*/