*{
    margin: 0 auto;
    }
    
body{
    background-image: url(images/background-world-map-1.gif);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: justify;
}

/*header*/
.nav-container{
    height: 150px;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;   
}

.nav-content a{
    text-decoration: none;
    color: black;
}

.nav-content a:hover{
    color: rgb(86, 121, 17);
    cursor: pointer; 
}

strong{
    color: yellowgreen;
}

hr{
    border: 2px solid yellowgreen;
}
/*header*/


/*body*/
hr{
    border: 50px solid palevioletred;
    margin-bottom: 50px;
}

b{
    text-decoration: overline;
}


strong{
    color: rgb(33, 122, 113);
}

.about-container{
    width: 900px;
    height: 500px;
    margin: 0 auto;
    display: flex;
}

.content-left{
    display: inline;
    flex: 2;
}

.content-right{
    padding-top: 50px;
    display: inline;
    flex-direction: column;
    flex: 1;
    text-align: end; 
    
}
/*body*/

/*footer*/
.footer-container{
    height: 200px;
    background-color: rgb(3, 3, 83);
    color:rgb(82, 224, 210);
    font-size: smaller;
}

.up-footer{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.social-network{
    display: flex;
    align-items: center;
    margin-left: 500px;
  
}

.social{
   display: flex;
   align-items: center;
   margin-right: 500px;
  
}
/*footer*/
