*{
    margin: 0 auto;
    }

body{
    background-image: url(images/background-world-map-1.gif);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}


/*header*/
.nav-container{
    height: 150px;
    font-weight: 600;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;   
}

.nav-content a{
    text-decoration: none;
    color: black;
}

.nav-content a:hover{
    color: rgb(86, 121, 17);
    cursor: pointer; 
}

strong{
    color: yellowgreen;
}

hr{
    border: 2px solid yellowgreen;
}
/*header*/

/*body*/
.educators{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.en-fr-es{
    display: flex;
    align-items: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.cn-de-si{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.mk-al{
    display: flex;
    justify-content: space-around;
}

.professor{
    width: 300px;
    height: 500px;
    color: white;
    text-align: center;
}

.professor h3{
    width: 300px;
    height: 50px;
    color: black;
    text-align: center; 
}

.professor img{
    margin: 0 auto;
    border-radius: 50%;
}

.founder, .de, .mk{
    background-color: rgb(18, 160, 146); 
}

.founder h3{
    background-color: rgb(112, 201, 192);
    padding-top: 25px;
}

.de h3{
    background-color: rgb(112, 201, 192);
    padding-top: 25px;
}

.mk h3{
    background-color: rgb(112, 201, 192);
    padding-top: 25px;
}

.title{
    width: 180px;
    height: 50px;
    background-color: rgb(78, 72, 72);
    margin-bottom: 10px;
    display: flex;
    align-items: center;

}

.title1{
    width: 180px;
    height: 50px;
    background-color: rgb(160, 160, 160);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}


.en, .al{
    background-color: rgb(3, 3, 83);
}

.en h3{
    background-color: rgb(38, 38, 139);
    padding-top: 25px;
}

.al h3{
    background-color: rgb(38, 38, 139);
    padding-top: 25px;
}

.fr, .si{
    background-color: rgba(146, 206, 26, 0.918);
}

.fr h3{
    background-color: rgba(197, 228, 135, 0.918);
    padding-top: 25px;
}

.si h3{
    background-color: rgba(197, 228, 135, 0.918);
    padding-top: 25px;
}

.es, .cn{
    background-color: palevioletred;
}

.es h3{
    background-color: rgb(236, 191, 206);
    padding-top: 25px;
}

.cn h3{
    background-color: rgb(236, 191, 206);
    padding-top: 25px;
}
/*body*/


/*footer*/
.footer-container{
    height: 200px;
    background-color: rgb(3, 3, 83);
    color:rgb(82, 224, 210);
    font-size: smaller;
}

.up-footer{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.social-network{
    display: flex;
    align-items: center;
    margin-left: 500px;
  
}

.social{
   display: flex;
   align-items: center;
   margin-right: 500px;
  
}
/*footer*/